<div th:fragment="all_users" class="admin-page-content-wrapper">
    <span id="about-user-table-header">All users</span>
    <div class="all-users-table-wrapper">
        <table class="users-table" style="width: 100%">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </table>
    </div>
</div>