<!-- Modal -->
<div th:fragment="modal-update" class="modal fade" id="_update" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form class="update-form" th:modelAttribute="user">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="id-update" type="hidden" value="" name="id">
                    <span class="label-span-for-del-form">ID</span>
                    <div class="id-div-in-form"></div>
                    <label for="name-update">First name</label>
                    <input id="name-update" type="text" value="" name="name"><br>
                    <label for="surname-update">Last name</label>
                    <input id="surname-update" type="text" value="" name="surname"><br>
                    <label for="age-update">Age</label>
                    <input id="age-update" type="number" value="" name="age"><br>
                    <label for="email-update">Email</label>
                    <input id="email-update" type="text" value="" name="email"><br>
                    <label for="pass-update">Password</label>
                    <input id="pass-update" type="text" name="password"><br>
                    <label>Role</label>
                    <select name="role-update" id="roles" size="2">
                        <!--                        <select class="roles-select" id="roles">-->
                        <option id="admin-update" value="ADMIN">Admin</option>
                        <option id="user-update" value="USER">User</option>
                    </select>
                    <p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-edit2" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-edit" data-dismiss="modal">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>