<!-- Modal -->
<div th:fragment="modal-delete" class="modal fade" id="del_user" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form class="update-form" th:modelAttribute="user">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="id-delete" type="hidden" name="id">
                    <span class="label-span-for-del-form">ID</span>
                    <div id="id-del" class="id-div-in-form"></div>
                    <span class="label-span-for-del-form">First name</span>
                    <div id="name-del" class="id-div-in-form"></div>
                    <span class="label-span-for-del-form">Last name</span>
                    <div id="surname-del" class="id-div-in-form"></div>
                    <span class="label-span-for-del-form">Age</span>
                    <div id="age-del" class="id-div-in-form"></div>
                    <span class="label-span-for-del-form">Email</span>
                    <div id="email-del" class="id-div-in-form"></div>
                    <label for="roles">Role</label>
                    <select name="roles-delete" id="roles" size="2">
                        <option id="admin-delete" value="ADMIN">Admin</option>
                        <option id="user-delete" value="USER">User</option>
                    </select>
                    <p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-edit2" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger btn-del"  data-dismiss="modal">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>